body {
<<<<<<< HEAD
    background:url(../img/cover2.png),url(../img/cover1.png),url(../img/bgimage.png);
=======
    background-image: url(../img/desktop3.png), url(../img/desktop2.png), url(../img/desktop1.png);
>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, cover;
    background-position: bottom, bottom, top;
    background-attachment: fixed, fixed, fixed;
}

.btn {
    background-color: #56839C;
    width: 150px;
    font-family: 'Piedra', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-text-stroke: 2px #6F7F87;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 5px 20px 0 20px; 
    margin-left: 10px;
}

.btn:not(:first-child) {
    margin-left: 20px;
  }/* it was used because it was necessary adjust margin but less the first element*/

nav {
    display: flex;
    float:right;
    align-items: center;
    margin-right: 10px;  
<<<<<<< HEAD
=======
    
>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
}

.title{
    position: relative;
    display:flex;
    margin-left:0px;
    height:0px;
}

#logo{
    position: relative;
    top:35%;
    width: 90px;
    height: 103px;
    margin:0px 5px 0px 20px;
}

#name{
    position: relative;
    top:35%;
    width: 586px;
    height: 105px;
    margin:0px 0px 0px -10px;
    font-family: 'Keania One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 103px;
    color: #FFFFFF;
    vertical-align:center;
    text-shadow: black 0.1em 0.05em 0.2em;
}
#contact {
    font-family: 'Keania One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 103px;
    color: #FFFFFF;
    vertical-align:center;
    text-shadow: black 0.1em 0.05em 0.2em; 
<<<<<<< HEAD
    padding:0 auto;
}

=======
}


>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
.menu-center {
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:10px 0 20px 0;

}

.img-desktop {
    width: 109px;
    height: 143.95px;
    border-radius: 146.027px;
    margin-left:85px;
}

<<<<<<< HEAD
.individual-box{
    display:flex;
    justify-content: center;      
    vertical-align:center;

}
.contact-container, .contact-box {
    display: flex;
=======
.combine {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-container{
    display: flex;
    flex-direction: row;;
>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
    width: 80vw;
    height: 35vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-family: keania One;
    font-style: normal;
    font-weight: normal;
    font-size: 8.69053px;
    color: #000000;
<<<<<<< HEAD
    
=======
        
>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
}

.text-box {
    width: 193.31px;
    height: 76.05px;
    background: rgba(255, 255, 255, 0.8);
    border: 0.639045px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 28.757px 28.757px 28.7563px;
    margin-left: 41px;
    padding-top: 3px;
<<<<<<< HEAD
    justify-content:center;
}
@media only screen and (max-width: 650px) {
    .hide-mobile { display: none !important;}
    }

@media all and (max-width:650px) {
    body {     
        display:block;  

        background:url(../img/cover2.png),url(../img/cover1.png),url(../img/bgimage.png);
=======
}


@media all and (max-width:650px) {

    .hide-mobile { display: none !important;}

    .combine{
        display:flex;
        flex-direction: row;;
    }
    
    body {     
        display:block;  
        background-image: url(../img/desktop3.png), url(../img/desktop2.png), url(../img/desktop1.png);
>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: contain, contain, cover;
        background-position: bottom, bottom, top;
        background-attachment: fixed, fixed, fixed;
    }

    nav {
<<<<<<< HEAD
        margin: 180px 162px 50px 0;
=======
        margin: 150px 30% 30px 30%;
>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
    }

    main {
        display: flex;
        position: absolute;
        float:left 0px;
        width: 100vw;
        margin-left:20%;
    }

    .img-mobile {
        width: 39.64px;
        height: 52.6px;
        border-radius: 31.2521px;

    }

<<<<<<< HEAD
    .btn {
        padding: 0; 
        margin: 0 auto;
    }

    .btn:not(:first-child) {
        margin-left: 0;
      }

    .contact-container {
        display: flex;
        flex-direction:column ;
        width: 100vw;
        height: auto;        
        align-items: center;
        justify-content: center;
        margin: 0 auto;
=======
    .contact-container {
        display: flex;
        flex-direction:column ;
        width: 100%;
        height: auto;        
        align-items: center;
        justify-content: center;
        margin: 0 20% 0px -50px;
>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
        text-align: center;
        font-family: keania One;
        font-style: normal;
        font-weight: normal;
        font-size: 4.94921px;
        line-height: 6px;
        color: #000000;
<<<<<<< HEAD
        border:1px solid red;
    }
    .individual-box{
        display:flex;
        width:100%;
        height:60px;
        border:1px solid blue;
        padding:0px auto;  
    }

    .text-box {
        width: 158.55px;
        height: 60px;
=======
    }
 

    .text-box {
        width: 158.55px;
        height: 43.28px;
>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
        background: rgba(255, 255, 255, 0.8);
        border: 0.470467px solid rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        border-radius: 0px  28.228px;
<<<<<<< HEAD
        margin-left: 10px;
        padding: 3px;
        justify-content:center;
    }

    #contact{
        padding:0 auto;
    margin-left: auto;
    }
    
}
=======
        margin-left: 20px;
        padding-top: 3px;
    }

>>>>>>> ba1d2176c439528e9113d6aed3d596c7d5b8f6ad
